* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.shape {
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: system-ui;
}

.box2 h1{
    rotate: -45deg;
}

.box1 {
    transition: 0.5s;
    margin-bottom: 45px;
}

.box1:hover {
    background-color:orange;
}

.box2 {
    transform: rotate(45deg);
    transition: 0.5s;
    width: 150px;
    height: 150px;
    translate: 20px;
}

.box2:hover {
    background-color: aquamarine;
}

.box3 {
    border-radius: 50%;
    transition: 0.5s;
    margin-top: 54px;

}

.box3:hover {
    background: red;
}